
body{
   background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

nav{
    position: sticky;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: flex;
    list-style:none;
}

nav li{
    padding: 8px 10px 8px 8px;
    width: 85px;
}

a{
    color: black;
    text-decoration:none;
    font-weight: 500;
    font-size: 20px;
}

a:hover, a:active{
color: gray;
}

.main-title{
    font-size: 70px;
    margin: 0px;
    width: 700px;
}

.btn {
    border-radius: 5px;
    background-color: black;
    color: white;
    padding: 10px;
    height: 20px;
    text-align: center;
}

.btn-green{
    background-color: rgb(7, 181, 7);
    color: white;
}

.description{
    margin-bottom: 50px;
}

.brand{
    font-weight: bold;
    margin-right:  50px;
}

.main-container{
    width: 80%;
    padding: 0px 10% 0px 10%;
}

.container{
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 0 50px 0 50px;
}

.secondary-title{
    color: darkslategrey;
    font-size: 12px;
    line-height: 10px;
}

.image-preview-container{
    border-radius: 10px;;
    width: 80%;
    padding: 10%;
    background-image: url('./backgroundI-mage.webp');
}

.image-preview{
    width: 100%;
}


.brand img {
    width: 125px;
}